.combobox-input {
    width: 100%;
    padding: 0rem;
    margin: 0;
  height: 40px;
  }
  .combobox{
    width: 100%;
    
  }
  
 #bottomright{
    position: absolute; 
    /* bottom: 0; */
    top: 0;
    right:0; 
   border-bottom-left-radius: 5px;
 }
 